// RESET

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

img {
  pointer-events: none;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;

  background-color: #fafafa;
}

.main-container {
  display: flex;

  width: 100%;
  padding: 20px;
}

.container-centered {
  max-width: 1200px;
  margin: 0 auto;
}

// /RESET





ul {
  list-style-type: none;
}

.orange-dot {
  color: #ff4612;
}

.grey-text {
  color: #bdbdbd;
}





// TITLES SETTINGS

.title {
  font-family: serif;
}

.subtitle {
  color: #a6a6a6;
}

.small-title {
  font-family: serif;
  font-weight: bold;
  font-size: 1.3em;
}

// /// TITLES SETTINGS


